
{% block body %}


<div class="panel=heading">

<h2>Add User <a class="pull-right btn btn-success" href="/">Back</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('processtudent') }}" method="post">
<div class="form-group">

    <label for="name">Username</label>
    <input type="text" class="form-control" name="username" id="username" required = "1"  >

</div>
<div class="form-group">

    <label for="name">Password</label>
    <input type="text" class="form-control" name="password" id="password" required = "1"  >

</div>


    <div class="form-group">

    <label for="name">Email</label>
    <input type="text" class="form-control" name="email" id="email" required = "1" >

</div>




        <div class="form-group">

    <label for="name">Time Available</label>
    <input type="text" class="form-control" name="timeavailable" id="timeavailable" required = "1"  >

</div>

    <div class="form-group">
      <label for="criteria">Criterion</label>
              <select name="criteria" class="form-control" name="criteria" id="timeavailable" required = "1">
                <option value="1">1:1</option>
                 <option value="2">1:2</option>
                 <option value="3">1:3</option>
                 <option value="0.25">4:1</option>
                </select>
</div>



    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add User">

</div>


</form>


</div>



{% endblock %}
