{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div>
    <h3>Your Workout details:</h3>
    <table>
        <tr>
            <td>Internet Time Left:</td>
            <td>{{ time_available['timeavailable']}} MIN</td>
        </tr>
	<tr>
            <td>Total Pedal rotations:</td>
            <td>{{ time_available['steps']}}</td>
        </tr>
        <tr>
            <td>Criterion</td>
            <td>{{ time_available['criteria'] }}</td>
    </table>
</div>

<div>
 <form>
<input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background:  #32CD32; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Start Workout" onclick="window.location.href='{{ url_for('sensorStart')}}'" />
</form> 
</div

{% endblock %}
